# WRITE A PROGRAMME TO CONVERT  KILOMETER TO MILES

In [40]:
KM=float(input("enter a number"))
factor=0.621371
c=KM*factor
print(c)

enter a number5.6
3.4796776

In [41]:
c

3.4796776

In [13]:
def kltoml(a):
    return(a*0.62171)

In [34]:
kltoml(3)

1.86513

# WRITE A PROGRAMME TO CONVERT  CELSIUS TO FAHRENHEIT

In [21]:
def ctof(b):
    return ((b*9/5)+32)

In [26]:
ctof(2)

35.6

In [71]:
year=int(input("enter a year"))
if year%4==0 and year%100!=0:
         print("it is leap year")

elif year % 400==0:
         print("it is leap year")
else:
         print("it is not a leap year")

enter a year2300
it is not a leap year

# WRITE A PROGRAMME TO DISPLAY  A CALENDER

In [74]:
import calendar
year=int(input("enter a year"))
month=int(input("enter a month"))
print(calendar.month(year,month))

enter a year 2012
enter a month12
   December 2012
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

# WRITE A PROGRAMME TO SOLVE A QUADRATC EQUATION

In [107]:
a=float(input())
b=float(input())
c=float(input())
d=(b**2-4*a*c)**0.5
e=b**2-4*a*c
if e>0:
    c=(-b+d)/2*a
else:
    c=(-b-d)/2*a
print(c)

1
6
5
-1.0

# SWAP TWO VARIABLES2

In [90]:
a=float(input("enter number 1"))
b=float(input("enter number 2"))
print("before swaping numbers are a={},b={}".format(a,b))
a,b=b,a
print("before swaping numbers are a={},b={}".format(a,b))

enter number 1 867
enter number 2 678.324
before swaping numbers are a=867.0,b=678.324
before swaping numbers are a=678.324,b=867.0